<h1>Wing Orders</h1>

<%= simple_form_for @wing_order do |f| %>
  <%= f.input :customer_name, label: 'Full Name' %>
  <%= f.input :city %>
  <%= f.input :state, collection: @state_collection %>
  <%= f.collection_radio_buttons :quantity, @quantity_collection, :first, :last %>
  <%= f.input :ranch_dressing, label: "Add Ranch Dressing" %>
  <%= f.association :flavors, as: :check_boxes %>
  <%= f.submit "Place Order" %>
<% end %>
